@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@{ ViewData["Title"] = "CreateReservation"; Layout = "~/Views/Shared/_Layout.cshtml"; }

@*
    <style>
        .comment-wrapper .panel-body {
            overflow: auto;
        }

        .comment-wrapper .media-list .media img {
            height: 64px;
            border: 2px solid #e5e7e8;
        }

        .comment-wrapper .media-list .media {
            border-bottom: 1px dashed #efefef;
            margin-bottom: 25px;
        }
    </style>*@


<link href="https://developers.google.com/maps/documentation/javascript/examples/default.css" rel="stylesheet">
<!-- need to change this line in other places -->

<script src="https://code.jquery.com/jquery-3.3.1.min.js"
        integrity="sha256-FgpCb/KJQlLNfOu91ta32o/NMZxltwRo8QtmkMRdAu8="
        crossorigin="anonymous"></script>

@*map code*@
<script>
    var geocoder;
    var map;
    var placeID;
    var lat;
    var lng;
    var Globaladdress;

    var marker;

    function initMap() {
        var mapOptions = {
            zoom: 17,
            mapTypeId: google.maps.MapTypeId.ROADMAP
        }
        geocoder = new google.maps.Geocoder();
        map = new google.maps.Map(document.getElementById('map_canvas'), mapOptions);
        codeAddress();
    }

    function codeAddress() {
        var address = document.getElementById('address').value;
        geocoder.geocode({
            'address': address
        }, function (results, status) {
            if (status == google.maps.GeocoderStatus.OK) {
                placeID = results[0].place_id
                lat = results[0].geometry.location.lat
                lng = results[0].geometry.location.lng
                Globaladdress = results[0].formatted_address
                map.setCenter(results[0].geometry.location);
                if (marker)
                    marker.setMap(null);
                var contentString = '<div id= "addressOnMap">' + address +
                    '</div><input id="confirmButton" type="button" value="Confirm" onclick="confirmAddress()">';
                var infowindow = new google.maps.InfoWindow({
                    content: contentString
                });
                marker = new google.maps.Marker({
                    map: map,
                    position: results[0].geometry.location,
                    draggable: true
                });

                marker.addListener('click', function () {
                    infowindow.open(map, marker);
                });

            } else {
                alert('Geocode was not successful for the following reason: ' + status);
            }
        });
    }

    function confirmAddress() {
        var address = document.getElementById('addressOnMap').innerHTML;
        document.getElementById("confirmed_address").innerHTML = address
    }

    function makeReservation() {
        var title = document.getElementById('reservation_title').value
        var placeId = placeID

        var placeName = document.getElementById('addressOnMap').innerHTML
        var placeAddress = Globaladdress
        var placeLat = marker.getPosition().lat()
        var placeLng = marker.getPosition().lng()

        var date = document.getElementById('date').value
        var startTime = document.getElementById('starttime').value
        var endtime = document.getElementById('endtime').value
        var numberOfPeople = document.getElementById('number_of_People').value

        var sexString = ""
        var ageString = ""
        var cuisineType
        var smoke
        var pet
        var alcohol
        var languages
        var description
       
        var sexCheck = document.getElementsByName("sexRadios")
        for (var i = 0; i < sexCheck.length; i++) {
            if (sexCheck[i].checked == true) {
                sexString = sexString + " " + sexCheck[i].value
            }
        }

        var ageCheck = document.getElementsByName("ageCheck")
        for (var i = 0; i < ageCheck.length; i++) {
            if (ageCheck[i].checked == true) {

                ageString += ageCheck[i].value
            }

        }

        var smokingCheck = document.getElementById("Smoking")

        if (smokingCheck.checked == true) {
            smoke = true

        } else {
            smoke = false
        }

        if (document.getElementById("Animals").checked == true) {

            pet = true
        } else {
            pet = false

        }

        if (document.getElementById("Alcohol").checked == true) {

            alcohol = true
        } else {
            alcohol = false

        }

        cuisineType = document.getElementById("CuisineType").value

        languages = document.getElementById("Language").value

        description = document.getElementById("Description").value

        if (cuisineType == "") {
            cuisineType = "Not Specified"
        }

        if (languages == "") {
            languages = "Not Specified"
        }

        if (description == "") {
            description = "none"
        }

        //alert(title)
        //alert(placeId)
        //alert(placeName)
        //alert(placeAddress)
        //alert(placeLat)
        //alert(placeLng)
        //alert(date)
        //alercuisineTypet(startTime)
        //alert(endtime)
        //alert(numberOfPeople)

        $.ajax({
            type: "post",
            url: "createReservation",
            data: {
                title: title,
                placeId: placeId,
                placeName: placeName,
                placeAddress: placeAddress,
                placeLat: placeLat,
                placeLng: placeLng,
                date: date,
                startTime: startTime,
                endTime: endtime,
                numberPeople: numberOfPeople,
                sexString: sexString,
                ageString: ageString,
                cuisineType: cuisineType,
                smoke: smoke,
                pet: pet,
                alcohol: alcohol,
                languages: languages,
                description: description
            },
            datatype: "json",
            success: function () {
                alert("success")

            },
            error: function () {
                alert("fail")
            }
        })
    }
    //function showlimit() {
    //alert(description)
    //}
</script>



<div class="container">
    <h2>Create a Reservation</h2>
    <br />
    <input class="form-control" id="reservation_title" placeholder="Reservation Title" type="text" />
    <br />

    <div>
        <input class="form-control" id="address" placeholder="Restaurant Address" type="text" style="width:60%" />
        <br />
        <button type="button" class="btn btn-primary" onclick="codeAddress()">Search for Location</button>
        @*
            <input type="text" id="lat" />
            <input type="text" id="lng" />*@
    </div>
    <br />
    <div id="map_canvas" style="height:500px; width:100%"></div>
    <br />
    <div id="confirmed_address">Please confirm the address by selecting the map location.</div>
    <br />
    <div class="form-group">
        <p>
            <strong>
                Date:
            </strong>
            <input type="date" id="date">
        </p>

        <p>
            <strong>
                Start Time:
            </strong><span><input id="starttime" type="time" value="Start Time:"></span><strong>
                End Time:
            </strong><span><input id="endtime" type="time" value="End Time:"></span>
        </p>
    </div>

    @{ if (User.IsInRole("Regular"))
        {
            <p>
                Party Size:
                <input id="number_of_People" type="radio" name="partysize" value="2" checked="checked"> 2*
            </p>
            <p>Limitations: **</p>
            <input class="form-check-input" type="radio" name="sexRadios" id="sexRadios3" value="all" checked="checked" hidden="hidden">
            <input class="form-check-input" type="checkbox" name="gridRadios" id="Smoking" value="noSmoking" hidden="hidden">
            <input class="form-check-input" type="checkbox" name="gridRadios" id="Alcohol" value="noAlcohol" hidden="hidden">
            <input class="form-check-input" type="checkbox" name="gridRadios" id="Animals" value="noAnimals" hidden="hidden">
            <input class="form-check-input" type="radio" name="ageCheck" id="gridRadios1" value="All" checked hidden="hidden">
            <input type="text" id="CuisineType" hidden="hidden">
            <input type="text" id="Language" hidden="hidden">
            <input type="text" id="Description" hidden="hidden">
        }

        else
        {
            <p>
                Party Size:
                <select id="number_of_People">
                    <option value="2">2</option>
                    <option value="3">3</option>
                    <option value="4">4</option>
                    <option value="5">5</option>
                    <option value="6">6</option>
                    <option value="7">7</option>
                    <option value="8">8</option>
                </select>
            </p>
            <br />
            <div class="form-group row">
                <div class="col-md-12">
                    <p>
                        <button class="btn btn-primary" type="button" data-toggle="collapse" data-target="#collapseExample" aria-expanded="false"
                                aria-controls="collapseExample">
                            Limitations
                        </button>
                    </p>
                    <div class="collapse" id="collapseExample">
                        <div class="row">
                            <div class="col-md-4">
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="col-form-legend col-sm-2">Sex:</div>
                                        <div class="col-sm-10">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="sexRadios" id="sexRadios1" value="male"> Male
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="sexRadios" id="sexRadios2" value="female"> Female
                                                </label>
                                            </div>
                                            <div class="form-check disabled">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="sexRadios" id="sexRadios3" value="others" checked="checked"> All
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="col-form-legend col-md-2">Pref:</div>
                                        <div class="col-md-10">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="gridRadios" id="Smoking" value="noSmoking"> Smoke-Free
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="gridRadios" id="Alcohol" value="noAlcohol"> Alcohol Free
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="gridRadios" id="Animals" value="noAnimals"> No Pets
                                                </label>
                                            </div>
                                            <div class="form-check disabled">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="checkbox" name="gridRadios" id="otherRadios3" value="noKids"> No Children
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                            <div class="col-md-4">
                                <fieldset class="form-group">
                                    <div class="row">
                                        <div class="col-form-legend col-md-2">Age:</div>
                                        <div class="col-md-10">
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="ageCheck" id="gridRadios1" value="All" checked> All
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="ageCheck" id="gridRadios1" value="18-34"> 18-34
                                                </label>
                                            </div>
                                            <div class="form-check">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="ageCheck" id="gridRadios2" value="35-50"> 35-50
                                                </label>
                                            </div>
                                            <div class="form-check disabled">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="ageCheck" id="gridRadios3" value="51-69"> 51-69
                                                </label>
                                            </div>
                                            <div class="form-check disabled">
                                                <label class="form-check-label">
                                                    <input class="form-check-input" type="radio" name="ageCheck" id="gridRadios3" value="70+"> 70+
                                                </label>
                                            </div>
                                        </div>
                                    </div>
                                </fieldset>
                            </div>
                        </div>
                        <div class="row">
                            <div class="col-md-4">
                                <label for="inputPassword5">Cuisine</label>
                                <input type="text" id="CuisineType" class="form-control" aria-describedby="passwordHelpBlock">
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Specify cuisine with comma separated values.<br />For example: Italian, Ukrainian, Canadian, Chinese
                                </small>
                            </div>
                            <div class="col-md-4">
                                <label for="inputPassword5">Language</label>
                                <input type="text" id="Language" class="form-control" aria-describedby="passwordHelpBlock">
                                <small id="passwordHelpBlock" class="form-text text-muted">
                                    Specify language via comma separated values.<br />For example: English, Russian, Italian, Chinese
                                </small>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        }
    }

    <textarea id="Description" class="form-control" placeholder="Message to your potential guests" type="text" rows="6" cols="100"></textarea>
    <br />

    <button type="button" class="btn btn-primary" onclick="makeReservation()">Make Reservation</button>

    @if (User.IsInRole("Regular"))
    {
        <div class="footnotes">
            <h6>* Regular Users are limited to a party size of 2.</h6>
            <h6>** Specifying limitations is a premium feature.</h6>
        </div>
    }
</div>
