@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager


<style>
    div.backgroundimage {
        background-size: contain;
        text-align: center;
        top: 0;
        left: 0;
    }

    img {
        border: none;
    }

    div.centerMessage {
        padding: 10px;
        background: rgb(34,34,34); /* for IE */
        background: rgba(34,34,34,0.75);
        font-size: 16px;
        color: ghostwhite;
        text-shadow: 0px 0px 6px rgba(255,255,255,0.7);
        /*positioning*/
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    div.image-container {
        display: flex;
        justify-content: center;
    }

    #button {
        /*positioning*/
        position: absolute;
        top: 20%;
        left: 50%;
        transform: translate(-50%, -50%);
    }
</style>
<div class="container">
    <div class="image-container">
        <img src="~/images/icon-donteatalone-01.png" alt="Sample Photo" class="img-responsive" />
    </div>

    <div class="backgroundimage">
        <img src="~/images/images-of-a-dog-and-cat-wallpaper.jpg" alt="cat_and_dog_eating_together" style="width:100%;">

        <div class="centerMessage">

            <p>
                <strong>
                    Lonely?
                </strong>
            </p>

            <p>Many Vancouverites know how you feel.</p>

            <p>
                In Vancouver, 30% of young people report that they experience loneliness &quot;almost always&quot; or &quot;often.&quot;
                But if you're looking for a friend instead of a date, it can be hard to meet others in the city.
                And with your city's rich culinary options to explore, maybe it's time you <strong>Don't Eat Alone</strong>.
            </p>

            <p>
                <strong>Don't Eat Alone</strong>
                here to help you meet someone new and grab a bite. If you're the only one in your friend group who's interested in trying
                that new Moroccan restaurant, if you're in town on business and would like meet someone for dinner,
                if you're just looking for a break from takeout and someone to join you
                <strong>
                    Don't Eat Alone
                </strong>
                is the way to meet people and explore the culinary scene.
            </p>

            <table class="table">
                <thead>
                    <tr>
                        <th>Create a Reservation</th>
                        <th>Join a Reservation</th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>a restaurant you want to try, a special event you want to celebrate, a neighbourhood you've never been to</td>
                        <td>at your favourite restaurant, for your favourite cuisine, with someone new who shares your interests</td>
                    </tr>
                </tbody>
            </table>
            <p>
                <strong>And Don't Eat Alone!</strong>
            </p>
        </div>

        <input type="button" id="button" class="btn" value="Find A Dinner Friend!" onclick="location.href='@Url.Action("ViewReservations")'" />
    </div>
</div>