@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="row">
    <div class="row" id="box-search">
        <div class="thumbnail text-center" style="border: none">
            <img src="~/images/icon-donteatalone-01.png" alt="Sample Photo" class="img-responsive" />
        </div>
        <div class="main-message">
            <p align=center style='text-align:center'>
                <strong>
                    Lonely?
                </strong>
            </p>

            <p align=center style='text-align:center'>
                <span style='font-size:16.0pt;line-height:107%'>
                    Many Vancouverites know how you feel.
                </span>
            </p>
            <p></p>

            <p>
                <span style='font-size:12.0pt;line-height:107%'>
                    In Vancouver, 30% of young people report that they experience loneliness &quot;almost always&quot; or &quot;often.&quot;
                    But if you're looking for a friend instead of a date, it can be hard to meet others in the city.
                    And with your city's rich culinary options to explore, maybe it's time you <strong>Don't Eat Alone</strong>.
                </span>
            </p>
            <p></p>

            <p>
                <span style='font-size:12.0pt;line-height:107%'>
                    <strong>Don't Eat Alone</strong>
                    here to help you meet someone new and grab a bite. If you're the only one in your friend group who's interested in trying
                    that new Moroccan restaurant, if you're in town on business and would like meet someone for dinner,
                    if you're just looking for a break from takeout and someone to join you
                    <strong>
                        Don't Eat Alone
                    </strong>
                    is the way to meet people and explore the culinary scene.
                </span>
            </p>

            <table class=MsoTableGrid border=0 cellspacing=0 cellpadding=0 style='margin: 0px auto; border-collapse:collapse;border:none;'>
                <tr>
                    <td width=312 valign=top style='width:233.75pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal'>
                            <span style='font-size:12.0pt'>
                                Create Reservations
                            </span>
                            <span style='font-size:12.0pt'>
                                for a restaurant you want to try, a special event you want to celebrate, a neighbourhood you've never been to.
                                <o:p></o:p>
                            </span>
                        </p>
                        <p></p>
                    </td>
                    <td width=312 valign=top style='width:233.75pt;padding:0cm 5.4pt 0cm 5.4pt'>
                        <p style='margin-bottom:0cm;margin-bottom:.0001pt;line-height:normal'>
                            <span style='font-size:12.0pt'>
                                Join Reservations
                            </span>
                            <span style='font-size:12.0pt'>
                                at your favourite restaurant, for your favourite cuisine, with someone new who shares your interests.
                            </span>
                        </p>
                    </td>
                </tr>
            </table>
            <p align=center style='text-align:center'>
                <span style='font-size:14.0pt; line-height:108%'>
                    And Don't Eat Alone!
                </span>
            </p>
        </div>

        @*Default login info:*@
        <div>
            <label for="loginExample">Default login info:</label>
            <p>
                <label for="exampleInputEmail1">admin@user.com</label>
                <label for="exampleInputPassword1">, Bcit123!</label>
            </p>
            <p>
                <label for="exampleInputEmail1">regular@user.com</label>
                <label for="exampleInputPassword1">, Bcit123!</label>
            </p>
            <p>
                <label for="exampleInputEmail1">premium@user.com</label>
                <label for="exampleInputPassword1">, Bcit123!</label>
            </p>
        </div>
    </div>
</div>