@{
    Layout = "~/Views/Shared/_Layout.cshtml";
}
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<div class="row">
    <div class="row" id="box-search">
        <div class="thumbnail text-center">
            <img src="~/images/donteatalone.jpeg" alt="Sample Photo" class="img-responsive" />
        </div>
    </div>
</div>
