@using DontEatAlone.Models.ManageViewModels
@inject Microsoft.AspNetCore.Http.IHttpContextAccessor HttpContextAccessor
@model DontEatAlone.Models.ManageViewModels.IndexViewModel

<head>
    <meta http-equiv="content-type" content="text/html; charset=UTF-8">
    <meta charset="utf-8">
    <title>FormDen Example</title>
</head>

<!--formden.js communicates with FormDen server to validate fields and submit via AJAX -->
<script type="text/javascript" src="https://formden.com/static/cdn/formden.js"></script>

<!-- Special version of Bootstrap that is isolated to content wrapped in .bootstrap-iso -->
<link rel="stylesheet" href="https://formden.com/static/cdn/bootstrap-iso.css" />

<!--Font Awesome (added because you use icons in your prepend/append)-->
<link rel="stylesheet" href="https://formden.com/static/cdn/font-awesome/4.4.0/css/font-awesome.min.css" />

<!-- Local jQuery -->
<script type="text/javascript" src="~/js/jquery-3.3.1.js"></script>
@{
    ViewData["Title"] = "Profile";
    ViewData.AddActivePage(ManageNavPages.Index);
}

<h4>@ViewData["Title"]</h4>
@Html.Partial("_StatusMessage", Model.StatusMessage)
<div class="row">
    <div class="col-md-6">
        <div>Status</div>
        @{  // if (HttpContextAccessor.HttpContext.Request.Cookies.Where(cookie => cookie.Key == "DonotEatAlone").Any())
            if (User.IsInRole("Premium"))
            {

                <div>Prime User</div>
                <button onclick="window.location.href='/Manage/SignDown'" class="btn btn-danger">Drop Premium!</button>
            }
            else if (User.IsInRole("Regular"))
            {
                <div>Regular User</div>
                <button onclick="window.location.href='/Manage/SignUp'" class="btn btn-success">Become Premium!</button>
            }
            else if (User.IsInRole("Admin"))
            {
                <div>You are an Admin User, with Premium Abilities</div>
            }
        }

        <form method="post">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Username"></label>
                <input asp-for="Username" class="form-control" disabled />
            </div>

            <div class="form-group">
                <label asp-for="Email"></label>
                @if (Model.IsEmailConfirmed)
                {
                    <div class="input-group">
                        <input asp-for="Email" class="form-control" />
                        <span class="input-group-addon" aria-hidden="true"><span class="glyphicon glyphicon-ok text-success"></span></span>
                    </div>
                }
                else
                {
                    <input asp-for="Email" class="form-control" />
                    <button asp-action="SendVerificationEmail" class="btn btn-link">Send verification email</button>
                }
                @Html.Raw(ViewBag.email)
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PhoneNumber"></label>
                <input asp-for="PhoneNumber" class="form-control" />
                <span asp-validation-for="PhoneNumber" class="text-danger"></span>
            </div>
            @*<div class="form-group">
                    <label asp-for="Address"></label>
                    <input asp-for="Address" class="form-control" placeholder="6520 Clematis Drive" />
                </div>*@
            <div class="form-group">
                <label asp-for="DateOfBirth"></label><br />
                <input id="date" type="date" value="2017-06-01">
            </div>
            <button type="submit" class="btn btn-default">Save</button>
        </form>
    </div>
    <div class="col-md-4 col-lg-4 " align="center"> <img alt="User Pic" src="~/images/download.png" class=" img-responsive"> </div>
</div>

@section Scripts {
    @await Html.PartialAsync("_ValidationScriptsPartial")
}
