
@{
    ViewData["Title"] = "SignUp";
}

<h2>SignUp</h2>

<form asp-controller="Manage" asp-action="FinishSignUp" method="get">
    <!-- Input and Submit elements -->
   
    <input type="submit" value="Sign Up!" class="btn btn-primary" />
</form>

